{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Integration API - Server to Extole",
    "description" : "Server-to-Extole integration endpoints: event submission, person lookup, zone rendering, token management, and reward retrieval for backend services authenticating with client credentials.",
    "version" : "1.0"
  },
  "servers" : [ {
    "url" : "https://api.extole.io",
    "description" : "Production"
  } ],
  "security" : [ {
    "HEADER" : [ ]
  }, {
    "QUERY" : [ ]
  }, {
    "COOKIE" : [ ]
  } ],
  "tags" : [ {
    "name" : "Authentication"
  }, {
    "name" : "Batch Jobs"
  }, {
    "name" : "Events"
  }, {
    "name" : "Files"
  }, {
    "name" : "Persons"
  }, {
    "name" : "Reward Suppliers"
  }, {
    "name" : "Rewards"
  }, {
    "name" : "SFTP Servers"
  }, {
    "name" : "Zone Rendering"
  } ],
  "paths" : {
    "/v2/rewards" : {
      "get" : {
        "tags" : [ "Rewards" ],
        "summary" : "List rewards",
        "description" : "Returns reward records for the client matching the specified query parameters.",
        "operationId" : "listRewards",
        "parameters" : [ {
          "name" : "state",
          "in" : "query",
          "description" : "Filter by reward state(s). Repeat for multiple values (e.g. `EARNED`, `FULFILLED`).",
          "schema" : {
            "type" : "string",
            "example" : ""
          }
        }, {
          "name" : "reward_supplier_id",
          "in" : "query",
          "description" : "Filter by Extole reward supplier id(s). Repeat for multiple values.",
          "schema" : {
            "type" : "string",
            "example" : ""
          }
        }, {
          "name" : "partner_reward_supplier_id",
          "in" : "query",
          "description" : "Filter by partner-assigned reward supplier id(s). Repeat for multiple values.",
          "schema" : {
            "type" : "string",
            "example" : ""
          }
        }, {
          "name" : "person_id",
          "in" : "query",
          "description" : "Filter by Extole person id(s). Repeat for multiple values.",
          "schema" : {
            "type" : "string",
            "example" : ""
          }
        }, {
          "name" : "action_id",
          "in" : "query",
          "description" : "Filter by Extole action id(s). Repeat for multiple values.",
          "schema" : {
            "type" : "string",
            "example" : ""
          }
        }, {
          "name" : "root_event_id",
          "in" : "query",
          "description" : "Filter by root event id(s). Repeat for multiple values.",
          "schema" : {
            "type" : "string",
            "example" : ""
          }
        }, {
          "name" : "partner_reward_id",
          "in" : "query",
          "description" : "Filter by partner-assigned reward id(s). Repeat for multiple values.",
          "schema" : {
            "type" : "string",
            "example" : ""
          }
        }, {
          "name" : "reward_type",
          "in" : "query",
          "description" : "Filter by reward type(s). Repeat for multiple values.",
          "schema" : {
            "type" : "string",
            "example" : ""
          }
        }, {
          "name" : "success_only",
          "in" : "query",
          "description" : "When true (default), include only rewards that were successfully fulfilled.",
          "schema" : {
            "type" : "boolean",
            "example" : false
          }
        }, {
          "name" : "time_interval",
          "in" : "query",
          "description" : "ISO 8601 time interval to restrict results to a date range (e.g. `P30D` for last 30 days).",
          "schema" : {
            "type" : "string",
            "example" : ""
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Maximum number of rewards to return. Defaults to 100.",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : 0
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "Number of rewards to skip for pagination. Defaults to 0.",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : 0
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/RewardResponse"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "binding_error" : {
                    "$ref" : "#/components/examples/binding_error"
                  },
                  "invalid_json" : {
                    "$ref" : "#/components/examples/invalid_json"
                  },
                  "invalid_limit" : {
                    "$ref" : "#/components/examples/invalid_limit"
                  },
                  "invalid_offset" : {
                    "$ref" : "#/components/examples/invalid_offset"
                  },
                  "invalid_parameter" : {
                    "$ref" : "#/components/examples/invalid_parameter"
                  },
                  "max_fetch_size_1000" : {
                    "$ref" : "#/components/examples/max_fetch_size_1000"
                  },
                  "missing_request_body" : {
                    "$ref" : "#/components/examples/missing_request_body"
                  },
                  "period_count_invalid" : {
                    "$ref" : "#/components/examples/period_count_invalid"
                  },
                  "period_not_supported" : {
                    "$ref" : "#/components/examples/period_not_supported"
                  },
                  "reward_state_invalid" : {
                    "$ref" : "#/components/examples/reward_state_invalid"
                  },
                  "reward_type_not_supported" : {
                    "$ref" : "#/components/examples/reward_type_not_supported"
                  },
                  "time_interval_invalid" : {
                    "$ref" : "#/components/examples/time_interval_invalid"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "method_unauthorized" : {
                    "$ref" : "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "402" : {
            "description" : "Payment Required",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "payment_required" : {
                    "$ref" : "#/components/examples/payment_required"
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "access_denied" : {
                    "$ref" : "#/components/examples/access_denied"
                  },
                  "method_unauthorized" : {
                    "$ref" : "#/components/examples/method_unauthorized"
                  },
                  "missing_access_token" : {
                    "$ref" : "#/components/examples/missing_access_token"
                  }
                }
              }
            }
          },
          "415" : {
            "description" : "Unsupported Media Type",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "unsupported_media_type" : {
                    "$ref" : "#/components/examples/unsupported_media_type"
                  }
                }
              }
            }
          },
          "429" : {
            "description" : "Too Many Requests",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "too_many_requests" : {
                    "$ref" : "#/components/examples/too_many_requests"
                  }
                }
              }
            }
          }
        },
        "x-extole-bundle" : "integration-server-to-extole",
        "x-extole-visibility" : "visible"
      }
    },
    "/v2/rewards/state_summary" : {
      "get" : {
        "tags" : [ "Rewards" ],
        "summary" : "Get reward state summary",
        "description" : "Returns aggregate state counts for rewards on this client (e.g. earned, fulfilled, cancelled).",
        "operationId" : "getRewardStateSummary",
        "parameters" : [ {
          "name" : "period",
          "in" : "query",
          "description" : "Time period for grouping (e.g. `DAY`, `WEEK`, `MONTH`).",
          "schema" : {
            "type" : "string",
            "example" : "DAY",
            "enum" : [ "DAY", "MONTH", "WEEK" ]
          }
        }, {
          "name" : "period_count",
          "in" : "query",
          "description" : "Number of periods to include in the summary.",
          "schema" : {
            "type" : "string",
            "example" : ""
          }
        }, {
          "name" : "end_date",
          "in" : "query",
          "description" : "End of the date range for the summary.",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "success_only",
          "in" : "query",
          "description" : "When true, include only rewards that were successfully fulfilled.",
          "schema" : {
            "type" : "boolean",
            "example" : false
          }
        }, {
          "name" : "reward_supplier_id",
          "in" : "query",
          "description" : "Filter by one or more reward supplier ids (repeat the parameter for multiple values).",
          "schema" : {
            "type" : "string",
            "example" : ""
          }
        }, {
          "name" : "reward_type",
          "in" : "query",
          "description" : "Filter by one or more reward types (repeat the parameter for multiple values).",
          "schema" : {
            "type" : "string",
            "example" : ""
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/RewardStateSummaryResponse"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "binding_error" : {
                    "$ref" : "#/components/examples/binding_error"
                  },
                  "invalid_json" : {
                    "$ref" : "#/components/examples/invalid_json"
                  },
                  "invalid_parameter" : {
                    "$ref" : "#/components/examples/invalid_parameter"
                  },
                  "missing_request_body" : {
                    "$ref" : "#/components/examples/missing_request_body"
                  },
                  "period_count_invalid" : {
                    "$ref" : "#/components/examples/period_count_invalid"
                  },
                  "period_not_supported" : {
                    "$ref" : "#/components/examples/period_not_supported"
                  },
                  "reward_state_invalid" : {
                    "$ref" : "#/components/examples/reward_state_invalid"
                  },
                  "reward_type_not_supported" : {
                    "$ref" : "#/components/examples/reward_type_not_supported"
                  },
                  "time_interval_invalid" : {
                    "$ref" : "#/components/examples/time_interval_invalid"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "method_unauthorized" : {
                    "$ref" : "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "402" : {
            "description" : "Payment Required",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "payment_required" : {
                    "$ref" : "#/components/examples/payment_required"
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "access_denied" : {
                    "$ref" : "#/components/examples/access_denied"
                  },
                  "method_unauthorized" : {
                    "$ref" : "#/components/examples/method_unauthorized"
                  },
                  "missing_access_token" : {
                    "$ref" : "#/components/examples/missing_access_token"
                  }
                }
              }
            }
          },
          "415" : {
            "description" : "Unsupported Media Type",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "unsupported_media_type" : {
                    "$ref" : "#/components/examples/unsupported_media_type"
                  }
                }
              }
            }
          },
          "429" : {
            "description" : "Too Many Requests",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "too_many_requests" : {
                    "$ref" : "#/components/examples/too_many_requests"
                  }
                }
              }
            }
          }
        },
        "x-extole-bundle" : "integration-server-to-extole",
        "x-extole-visibility" : "visible"
      }
    },
    "/v2/rewards/{reward_id}" : {
      "get" : {
        "tags" : [ "Rewards" ],
        "summary" : "Get a reward",
        "description" : "Returns the reward record for the specified reward id, including its current state and history.",
        "operationId" : "getReward",
        "parameters" : [ {
          "name" : "reward_id",
          "in" : "path",
          "description" : "Extole-assigned unique identifier for the reward.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : ""
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RewardResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "binding_error" : {
                    "$ref" : "#/components/examples/binding_error"
                  },
                  "invalid_json" : {
                    "$ref" : "#/components/examples/invalid_json"
                  },
                  "invalid_parameter" : {
                    "$ref" : "#/components/examples/invalid_parameter"
                  },
                  "missing_request_body" : {
                    "$ref" : "#/components/examples/missing_request_body"
                  },
                  "period_count_invalid" : {
                    "$ref" : "#/components/examples/period_count_invalid"
                  },
                  "period_not_supported" : {
                    "$ref" : "#/components/examples/period_not_supported"
                  },
                  "retry_claimed_reward_not_allowed" : {
                    "$ref" : "#/components/examples/retry_claimed_reward_not_allowed"
                  },
                  "reward_illegal_state_transition" : {
                    "$ref" : "#/components/examples/reward_illegal_state_transition"
                  },
                  "reward_in_not_retryable_state" : {
                    "$ref" : "#/components/examples/reward_in_not_retryable_state"
                  },
                  "reward_not_found" : {
                    "$ref" : "#/components/examples/reward_not_found"
                  },
                  "reward_retry_not_supported" : {
                    "$ref" : "#/components/examples/reward_retry_not_supported"
                  },
                  "reward_state_invalid" : {
                    "$ref" : "#/components/examples/reward_state_invalid"
                  },
                  "reward_supplier_not_found" : {
                    "$ref" : "#/components/examples/reward_supplier_not_found"
                  },
                  "reward_type_not_supported" : {
                    "$ref" : "#/components/examples/reward_type_not_supported"
                  },
                  "sandbox_not_found" : {
                    "$ref" : "#/components/examples/sandbox_not_found"
                  },
                  "time_interval_invalid" : {
                    "$ref" : "#/components/examples/time_interval_invalid"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "method_unauthorized" : {
                    "$ref" : "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "402" : {
            "description" : "Payment Required",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "payment_required" : {
                    "$ref" : "#/components/examples/payment_required"
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "access_denied" : {
                    "$ref" : "#/components/examples/access_denied"
                  },
                  "method_unauthorized" : {
                    "$ref" : "#/components/examples/method_unauthorized"
                  },
                  "missing_access_token" : {
                    "$ref" : "#/components/examples/missing_access_token"
                  }
                }
              }
            }
          },
          "415" : {
            "description" : "Unsupported Media Type",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "unsupported_media_type" : {
                    "$ref" : "#/components/examples/unsupported_media_type"
                  }
                }
              }
            }
          },
          "429" : {
            "description" : "Too Many Requests",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "too_many_requests" : {
                    "$ref" : "#/components/examples/too_many_requests"
                  }
                }
              }
            }
          }
        },
        "x-extole-bundle" : "integration-server-to-extole",
        "x-extole-visibility" : "visible"
      },
      "put" : {
        "tags" : [ "Rewards" ],
        "summary" : "Update a reward",
        "description" : "Updates attributes on the specified reward record. Returns the updated reward.",
        "operationId" : "updateReward",
        "parameters" : [ {
          "name" : "reward_id",
          "in" : "path",
          "description" : "Extole-assigned unique identifier for the reward.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : ""
          }
        } ],
        "requestBody" : {
          "description" : "Reward update request.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/RewardUpdateRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successful response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RewardResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "binding_error" : {
                    "$ref" : "#/components/examples/binding_error"
                  },
                  "invalid_json" : {
                    "$ref" : "#/components/examples/invalid_json"
                  },
                  "invalid_parameter" : {
                    "$ref" : "#/components/examples/invalid_parameter"
                  },
                  "missing_request_body" : {
                    "$ref" : "#/components/examples/missing_request_body"
                  },
                  "retry_claimed_reward_not_allowed" : {
                    "$ref" : "#/components/examples/retry_claimed_reward_not_allowed"
                  },
                  "reward_illegal_state_transition" : {
                    "$ref" : "#/components/examples/reward_illegal_state_transition"
                  },
                  "reward_in_not_retryable_state" : {
                    "$ref" : "#/components/examples/reward_in_not_retryable_state"
                  },
                  "reward_not_found" : {
                    "$ref" : "#/components/examples/reward_not_found"
                  },
                  "reward_retry_not_supported" : {
                    "$ref" : "#/components/examples/reward_retry_not_supported"
                  },
                  "reward_supplier_not_found" : {
                    "$ref" : "#/components/examples/reward_supplier_not_found"
                  },
                  "sandbox_not_found" : {
                    "$ref" : "#/components/examples/sandbox_not_found"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "method_unauthorized" : {
                    "$ref" : "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "402" : {
            "description" : "Payment Required",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "payment_required" : {
                    "$ref" : "#/components/examples/payment_required"
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "access_denied" : {
                    "$ref" : "#/components/examples/access_denied"
                  },
                  "method_unauthorized" : {
                    "$ref" : "#/components/examples/method_unauthorized"
                  },
                  "missing_access_token" : {
                    "$ref" : "#/components/examples/missing_access_token"
                  },
                  "person_not_found" : {
                    "$ref" : "#/components/examples/person_not_found"
                  }
                }
              }
            }
          },
          "415" : {
            "description" : "Unsupported Media Type",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "unsupported_media_type" : {
                    "$ref" : "#/components/examples/unsupported_media_type"
                  }
                }
              }
            }
          },
          "429" : {
            "description" : "Too Many Requests",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "too_many_requests" : {
                    "$ref" : "#/components/examples/too_many_requests"
                  }
                }
              }
            }
          }
        },
        "x-extole-bundle" : "integration-server-to-extole",
        "x-extole-visibility" : "visible"
      }
    },
    "/v2/rewards/{reward_id}/cancels" : {
      "get" : {
        "tags" : [ "Rewards" ],
        "summary" : "Get reward cancels",
        "description" : "Returns the cancellation history for the specified reward.",
        "operationId" : "getRewardCancels",
        "parameters" : [ {
          "name" : "reward_id",
          "in" : "path",
          "description" : "Extole-assigned unique identifier for the reward.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : ""
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/CanceledRewardStateResponse"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "binding_error" : {
                    "$ref" : "#/components/examples/binding_error"
                  },
                  "invalid_json" : {
                    "$ref" : "#/components/examples/invalid_json"
                  },
                  "invalid_parameter" : {
                    "$ref" : "#/components/examples/invalid_parameter"
                  },
                  "missing_request_body" : {
                    "$ref" : "#/components/examples/missing_request_body"
                  },
                  "period_count_invalid" : {
                    "$ref" : "#/components/examples/period_count_invalid"
                  },
                  "period_not_supported" : {
                    "$ref" : "#/components/examples/period_not_supported"
                  },
                  "retry_claimed_reward_not_allowed" : {
                    "$ref" : "#/components/examples/retry_claimed_reward_not_allowed"
                  },
                  "reward_illegal_state_transition" : {
                    "$ref" : "#/components/examples/reward_illegal_state_transition"
                  },
                  "reward_in_not_retryable_state" : {
                    "$ref" : "#/components/examples/reward_in_not_retryable_state"
                  },
                  "reward_not_found" : {
                    "$ref" : "#/components/examples/reward_not_found"
                  },
                  "reward_retry_not_supported" : {
                    "$ref" : "#/components/examples/reward_retry_not_supported"
                  },
                  "reward_state_invalid" : {
                    "$ref" : "#/components/examples/reward_state_invalid"
                  },
                  "reward_supplier_not_found" : {
                    "$ref" : "#/components/examples/reward_supplier_not_found"
                  },
                  "reward_type_not_supported" : {
                    "$ref" : "#/components/examples/reward_type_not_supported"
                  },
                  "sandbox_not_found" : {
                    "$ref" : "#/components/examples/sandbox_not_found"
                  },
                  "time_interval_invalid" : {
                    "$ref" : "#/components/examples/time_interval_invalid"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "method_unauthorized" : {
                    "$ref" : "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "402" : {
            "description" : "Payment Required",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "payment_required" : {
                    "$ref" : "#/components/examples/payment_required"
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "access_denied" : {
                    "$ref" : "#/components/examples/access_denied"
                  },
                  "method_unauthorized" : {
                    "$ref" : "#/components/examples/method_unauthorized"
                  },
                  "missing_access_token" : {
                    "$ref" : "#/components/examples/missing_access_token"
                  }
                }
              }
            }
          },
          "415" : {
            "description" : "Unsupported Media Type",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "unsupported_media_type" : {
                    "$ref" : "#/components/examples/unsupported_media_type"
                  }
                }
              }
            }
          },
          "429" : {
            "description" : "Too Many Requests",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "too_many_requests" : {
                    "$ref" : "#/components/examples/too_many_requests"
                  }
                }
              }
            }
          }
        },
        "x-extole-bundle" : "integration-server-to-extole",
        "x-extole-visibility" : "visible"
      }
    },
    "/v2/rewards/{reward_id}/fails" : {
      "get" : {
        "tags" : [ "Rewards" ],
        "summary" : "Get reward fails",
        "description" : "Returns the fulfilment failure history for the specified reward.",
        "operationId" : "getRewardFails",
        "parameters" : [ {
          "name" : "reward_id",
          "in" : "path",
          "description" : "Extole-assigned unique identifier for the reward.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : ""
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/FailedRewardStateResponse"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "binding_error" : {
                    "$ref" : "#/components/examples/binding_error"
                  },
                  "invalid_json" : {
                    "$ref" : "#/components/examples/invalid_json"
                  },
                  "invalid_parameter" : {
                    "$ref" : "#/components/examples/invalid_parameter"
                  },
                  "missing_request_body" : {
                    "$ref" : "#/components/examples/missing_request_body"
                  },
                  "period_count_invalid" : {
                    "$ref" : "#/components/examples/period_count_invalid"
                  },
                  "period_not_supported" : {
                    "$ref" : "#/components/examples/period_not_supported"
                  },
                  "retry_claimed_reward_not_allowed" : {
                    "$ref" : "#/components/examples/retry_claimed_reward_not_allowed"
                  },
                  "reward_illegal_state_transition" : {
                    "$ref" : "#/components/examples/reward_illegal_state_transition"
                  },
                  "reward_in_not_retryable_state" : {
                    "$ref" : "#/components/examples/reward_in_not_retryable_state"
                  },
                  "reward_not_found" : {
                    "$ref" : "#/components/examples/reward_not_found"
                  },
                  "reward_retry_not_supported" : {
                    "$ref" : "#/components/examples/reward_retry_not_supported"
                  },
                  "reward_state_invalid" : {
                    "$ref" : "#/components/examples/reward_state_invalid"
                  },
                  "reward_supplier_not_found" : {
                    "$ref" : "#/components/examples/reward_supplier_not_found"
                  },
                  "reward_type_not_supported" : {
                    "$ref" : "#/components/examples/reward_type_not_supported"
                  },
                  "sandbox_not_found" : {
                    "$ref" : "#/components/examples/sandbox_not_found"
                  },
                  "time_interval_invalid" : {
                    "$ref" : "#/components/examples/time_interval_invalid"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "method_unauthorized" : {
                    "$ref" : "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "402" : {
            "description" : "Payment Required",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "payment_required" : {
                    "$ref" : "#/components/examples/payment_required"
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "access_denied" : {
                    "$ref" : "#/components/examples/access_denied"
                  },
                  "method_unauthorized" : {
                    "$ref" : "#/components/examples/method_unauthorized"
                  },
                  "missing_access_token" : {
                    "$ref" : "#/components/examples/missing_access_token"
                  }
                }
              }
            }
          },
          "415" : {
            "description" : "Unsupported Media Type",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "unsupported_media_type" : {
                    "$ref" : "#/components/examples/unsupported_media_type"
                  }
                }
              }
            }
          },
          "429" : {
            "description" : "Too Many Requests",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "too_many_requests" : {
                    "$ref" : "#/components/examples/too_many_requests"
                  }
                }
              }
            }
          }
        },
        "x-extole-bundle" : "integration-server-to-extole",
        "x-extole-visibility" : "visible"
      }
    },
    "/v2/rewards/{reward_id}/fulfillments" : {
      "get" : {
        "tags" : [ "Rewards" ],
        "summary" : "Get reward fulfillments",
        "description" : "Returns the fulfilment records for the specified reward.",
        "operationId" : "getRewardFulfillments",
        "parameters" : [ {
          "name" : "reward_id",
          "in" : "path",
          "description" : "Extole-assigned unique identifier for the reward.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : ""
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/FulfilledRewardStateResponse"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "binding_error" : {
                    "$ref" : "#/components/examples/binding_error"
                  },
                  "invalid_json" : {
                    "$ref" : "#/components/examples/invalid_json"
                  },
                  "invalid_parameter" : {
                    "$ref" : "#/components/examples/invalid_parameter"
                  },
                  "missing_request_body" : {
                    "$ref" : "#/components/examples/missing_request_body"
                  },
                  "period_count_invalid" : {
                    "$ref" : "#/components/examples/period_count_invalid"
                  },
                  "period_not_supported" : {
                    "$ref" : "#/components/examples/period_not_supported"
                  },
                  "retry_claimed_reward_not_allowed" : {
                    "$ref" : "#/components/examples/retry_claimed_reward_not_allowed"
                  },
                  "reward_illegal_state_transition" : {
                    "$ref" : "#/components/examples/reward_illegal_state_transition"
                  },
                  "reward_in_not_retryable_state" : {
                    "$ref" : "#/components/examples/reward_in_not_retryable_state"
                  },
                  "reward_not_found" : {
                    "$ref" : "#/components/examples/reward_not_found"
                  },
                  "reward_retry_not_supported" : {
                    "$ref" : "#/components/examples/reward_retry_not_supported"
                  },
                  "reward_state_invalid" : {
                    "$ref" : "#/components/examples/reward_state_invalid"
                  },
                  "reward_supplier_not_found" : {
                    "$ref" : "#/components/examples/reward_supplier_not_found"
                  },
                  "reward_type_not_supported" : {
                    "$ref" : "#/components/examples/reward_type_not_supported"
                  },
                  "sandbox_not_found" : {
                    "$ref" : "#/components/examples/sandbox_not_found"
                  },
                  "time_interval_invalid" : {
                    "$ref" : "#/components/examples/time_interval_invalid"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "method_unauthorized" : {
                    "$ref" : "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "402" : {
            "description" : "Payment Required",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "payment_required" : {
                    "$ref" : "#/components/examples/payment_required"
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "access_denied" : {
                    "$ref" : "#/components/examples/access_denied"
                  },
                  "method_unauthorized" : {
                    "$ref" : "#/components/examples/method_unauthorized"
                  },
                  "missing_access_token" : {
                    "$ref" : "#/components/examples/missing_access_token"
                  }
                }
              }
            }
          },
          "415" : {
            "description" : "Unsupported Media Type",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "unsupported_media_type" : {
                    "$ref" : "#/components/examples/unsupported_media_type"
                  }
                }
              }
            }
          },
          "429" : {
            "description" : "Too Many Requests",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "too_many_requests" : {
                    "$ref" : "#/components/examples/too_many_requests"
                  }
                }
              }
            }
          }
        },
        "x-extole-bundle" : "integration-server-to-extole",
        "x-extole-visibility" : "visible"
      }
    },
    "/v2/rewards/{reward_id}/history" : {
      "get" : {
        "tags" : [ "Rewards" ],
        "summary" : "Get reward state history",
        "description" : "Returns the full state-transition history for the specified reward.",
        "operationId" : "getRewardStateHistory",
        "parameters" : [ {
          "name" : "reward_id",
          "in" : "path",
          "description" : "Extole-assigned unique identifier for the reward.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : ""
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/RewardStateResponse"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "binding_error" : {
                    "$ref" : "#/components/examples/binding_error"
                  },
                  "invalid_json" : {
                    "$ref" : "#/components/examples/invalid_json"
                  },
                  "invalid_parameter" : {
                    "$ref" : "#/components/examples/invalid_parameter"
                  },
                  "missing_request_body" : {
                    "$ref" : "#/components/examples/missing_request_body"
                  },
                  "period_count_invalid" : {
                    "$ref" : "#/components/examples/period_count_invalid"
                  },
                  "period_not_supported" : {
                    "$ref" : "#/components/examples/period_not_supported"
                  },
                  "retry_claimed_reward_not_allowed" : {
                    "$ref" : "#/components/examples/retry_claimed_reward_not_allowed"
                  },
                  "reward_illegal_state_transition" : {
                    "$ref" : "#/components/examples/reward_illegal_state_transition"
                  },
                  "reward_in_not_retryable_state" : {
                    "$ref" : "#/components/examples/reward_in_not_retryable_state"
                  },
                  "reward_not_found" : {
                    "$ref" : "#/components/examples/reward_not_found"
                  },
                  "reward_retry_not_supported" : {
                    "$ref" : "#/components/examples/reward_retry_not_supported"
                  },
                  "reward_state_invalid" : {
                    "$ref" : "#/components/examples/reward_state_invalid"
                  },
                  "reward_supplier_not_found" : {
                    "$ref" : "#/components/examples/reward_supplier_not_found"
                  },
                  "reward_type_not_supported" : {
                    "$ref" : "#/components/examples/reward_type_not_supported"
                  },
                  "sandbox_not_found" : {
                    "$ref" : "#/components/examples/sandbox_not_found"
                  },
                  "time_interval_invalid" : {
                    "$ref" : "#/components/examples/time_interval_invalid"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "method_unauthorized" : {
                    "$ref" : "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "402" : {
            "description" : "Payment Required",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "payment_required" : {
                    "$ref" : "#/components/examples/payment_required"
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "access_denied" : {
                    "$ref" : "#/components/examples/access_denied"
                  },
                  "method_unauthorized" : {
                    "$ref" : "#/components/examples/method_unauthorized"
                  },
                  "missing_access_token" : {
                    "$ref" : "#/components/examples/missing_access_token"
                  }
                }
              }
            }
          },
          "415" : {
            "description" : "Unsupported Media Type",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "unsupported_media_type" : {
                    "$ref" : "#/components/examples/unsupported_media_type"
                  }
                }
              }
            }
          },
          "429" : {
            "description" : "Too Many Requests",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "too_many_requests" : {
                    "$ref" : "#/components/examples/too_many_requests"
                  }
                }
              }
            }
          }
        },
        "x-extole-bundle" : "integration-server-to-extole",
        "x-extole-visibility" : "visible"
      }
    },
    "/v2/rewards/{reward_id}/redeems" : {
      "get" : {
        "tags" : [ "Rewards" ],
        "summary" : "Get reward redeems",
        "description" : "Returns the redemption records for the specified reward.",
        "operationId" : "getRewardRedeems",
        "parameters" : [ {
          "name" : "reward_id",
          "in" : "path",
          "description" : "Extole-assigned unique identifier for the reward.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : ""
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/RedeemedRewardStateResponse"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "binding_error" : {
                    "$ref" : "#/components/examples/binding_error"
                  },
                  "invalid_json" : {
                    "$ref" : "#/components/examples/invalid_json"
                  },
                  "invalid_parameter" : {
                    "$ref" : "#/components/examples/invalid_parameter"
                  },
                  "missing_request_body" : {
                    "$ref" : "#/components/examples/missing_request_body"
                  },
                  "period_count_invalid" : {
                    "$ref" : "#/components/examples/period_count_invalid"
                  },
                  "period_not_supported" : {
                    "$ref" : "#/components/examples/period_not_supported"
                  },
                  "retry_claimed_reward_not_allowed" : {
                    "$ref" : "#/components/examples/retry_claimed_reward_not_allowed"
                  },
                  "reward_illegal_state_transition" : {
                    "$ref" : "#/components/examples/reward_illegal_state_transition"
                  },
                  "reward_in_not_retryable_state" : {
                    "$ref" : "#/components/examples/reward_in_not_retryable_state"
                  },
                  "reward_not_found" : {
                    "$ref" : "#/components/examples/reward_not_found"
                  },
                  "reward_retry_not_supported" : {
                    "$ref" : "#/components/examples/reward_retry_not_supported"
                  },
                  "reward_state_invalid" : {
                    "$ref" : "#/components/examples/reward_state_invalid"
                  },
                  "reward_supplier_not_found" : {
                    "$ref" : "#/components/examples/reward_supplier_not_found"
                  },
                  "reward_type_not_supported" : {
                    "$ref" : "#/components/examples/reward_type_not_supported"
                  },
                  "sandbox_not_found" : {
                    "$ref" : "#/components/examples/sandbox_not_found"
                  },
                  "time_interval_invalid" : {
                    "$ref" : "#/components/examples/time_interval_invalid"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "method_unauthorized" : {
                    "$ref" : "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "402" : {
            "description" : "Payment Required",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "payment_required" : {
                    "$ref" : "#/components/examples/payment_required"
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "access_denied" : {
                    "$ref" : "#/components/examples/access_denied"
                  },
                  "method_unauthorized" : {
                    "$ref" : "#/components/examples/method_unauthorized"
                  },
                  "missing_access_token" : {
                    "$ref" : "#/components/examples/missing_access_token"
                  }
                }
              }
            }
          },
          "415" : {
            "description" : "Unsupported Media Type",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "unsupported_media_type" : {
                    "$ref" : "#/components/examples/unsupported_media_type"
                  }
                }
              }
            }
          },
          "429" : {
            "description" : "Too Many Requests",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "too_many_requests" : {
                    "$ref" : "#/components/examples/too_many_requests"
                  }
                }
              }
            }
          }
        },
        "x-extole-bundle" : "integration-server-to-extole",
        "x-extole-visibility" : "visible"
      }
    },
    "/v2/rewards/{reward_id}/revokes" : {
      "get" : {
        "tags" : [ "Rewards" ],
        "summary" : "Get reward revokes",
        "description" : "Returns the revocation records for the specified reward.",
        "operationId" : "getRewardRevokes",
        "parameters" : [ {
          "name" : "reward_id",
          "in" : "path",
          "description" : "Extole-assigned unique identifier for the reward.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : ""
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/RevokedRewardStateResponse"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "binding_error" : {
                    "$ref" : "#/components/examples/binding_error"
                  },
                  "invalid_json" : {
                    "$ref" : "#/components/examples/invalid_json"
                  },
                  "invalid_parameter" : {
                    "$ref" : "#/components/examples/invalid_parameter"
                  },
                  "missing_request_body" : {
                    "$ref" : "#/components/examples/missing_request_body"
                  },
                  "period_count_invalid" : {
                    "$ref" : "#/components/examples/period_count_invalid"
                  },
                  "period_not_supported" : {
                    "$ref" : "#/components/examples/period_not_supported"
                  },
                  "retry_claimed_reward_not_allowed" : {
                    "$ref" : "#/components/examples/retry_claimed_reward_not_allowed"
                  },
                  "reward_illegal_state_transition" : {
                    "$ref" : "#/components/examples/reward_illegal_state_transition"
                  },
                  "reward_in_not_retryable_state" : {
                    "$ref" : "#/components/examples/reward_in_not_retryable_state"
                  },
                  "reward_not_found" : {
                    "$ref" : "#/components/examples/reward_not_found"
                  },
                  "reward_retry_not_supported" : {
                    "$ref" : "#/components/examples/reward_retry_not_supported"
                  },
                  "reward_state_invalid" : {
                    "$ref" : "#/components/examples/reward_state_invalid"
                  },
                  "reward_supplier_not_found" : {
                    "$ref" : "#/components/examples/reward_supplier_not_found"
                  },
                  "reward_type_not_supported" : {
                    "$ref" : "#/components/examples/reward_type_not_supported"
                  },
                  "sandbox_not_found" : {
                    "$ref" : "#/components/examples/sandbox_not_found"
                  },
                  "time_interval_invalid" : {
                    "$ref" : "#/components/examples/time_interval_invalid"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "method_unauthorized" : {
                    "$ref" : "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "402" : {
            "description" : "Payment Required",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "payment_required" : {
                    "$ref" : "#/components/examples/payment_required"
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "access_denied" : {
                    "$ref" : "#/components/examples/access_denied"
                  },
                  "method_unauthorized" : {
                    "$ref" : "#/components/examples/method_unauthorized"
                  },
                  "missing_access_token" : {
                    "$ref" : "#/components/examples/missing_access_token"
                  }
                }
              }
            }
          },
          "415" : {
            "description" : "Unsupported Media Type",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "unsupported_media_type" : {
                    "$ref" : "#/components/examples/unsupported_media_type"
                  }
                }
              }
            }
          },
          "429" : {
            "description" : "Too Many Requests",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "too_many_requests" : {
                    "$ref" : "#/components/examples/too_many_requests"
                  }
                }
              }
            }
          }
        },
        "x-extole-bundle" : "integration-server-to-extole",
        "x-extole-visibility" : "visible"
      }
    },
    "/v2/rewards/{reward_id}/sends" : {
      "get" : {
        "tags" : [ "Rewards" ],
        "summary" : "Get reward sends",
        "description" : "Returns the send events for the specified reward.",
        "operationId" : "getRewardSends",
        "parameters" : [ {
          "name" : "reward_id",
          "in" : "path",
          "description" : "Extole-assigned unique identifier for the reward.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : ""
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/SentRewardStateResponse"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "binding_error" : {
                    "$ref" : "#/components/examples/binding_error"
                  },
                  "invalid_json" : {
                    "$ref" : "#/components/examples/invalid_json"
                  },
                  "invalid_parameter" : {
                    "$ref" : "#/components/examples/invalid_parameter"
                  },
                  "missing_request_body" : {
                    "$ref" : "#/components/examples/missing_request_body"
                  },
                  "period_count_invalid" : {
                    "$ref" : "#/components/examples/period_count_invalid"
                  },
                  "period_not_supported" : {
                    "$ref" : "#/components/examples/period_not_supported"
                  },
                  "retry_claimed_reward_not_allowed" : {
                    "$ref" : "#/components/examples/retry_claimed_reward_not_allowed"
                  },
                  "reward_illegal_state_transition" : {
                    "$ref" : "#/components/examples/reward_illegal_state_transition"
                  },
                  "reward_in_not_retryable_state" : {
                    "$ref" : "#/components/examples/reward_in_not_retryable_state"
                  },
                  "reward_not_found" : {
                    "$ref" : "#/components/examples/reward_not_found"
                  },
                  "reward_retry_not_supported" : {
                    "$ref" : "#/components/examples/reward_retry_not_supported"
                  },
                  "reward_state_invalid" : {
                    "$ref" : "#/components/examples/reward_state_invalid"
                  },
                  "reward_supplier_not_found" : {
                    "$ref" : "#/components/examples/reward_supplier_not_found"
                  },
                  "reward_type_not_supported" : {
                    "$ref" : "#/components/examples/reward_type_not_supported"
                  },
                  "sandbox_not_found" : {
                    "$ref" : "#/components/examples/sandbox_not_found"
                  },
                  "time_interval_invalid" : {
                    "$ref" : "#/components/examples/time_interval_invalid"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "method_unauthorized" : {
                    "$ref" : "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "402" : {
            "description" : "Payment Required",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "payment_required" : {
                    "$ref" : "#/components/examples/payment_required"
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "access_denied" : {
                    "$ref" : "#/components/examples/access_denied"
                  },
                  "method_unauthorized" : {
                    "$ref" : "#/components/examples/method_unauthorized"
                  },
                  "missing_access_token" : {
                    "$ref" : "#/components/examples/missing_access_token"
                  }
                }
              }
            }
          },
          "415" : {
            "description" : "Unsupported Media Type",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "unsupported_media_type" : {
                    "$ref" : "#/components/examples/unsupported_media_type"
                  }
                }
              }
            }
          },
          "429" : {
            "description" : "Too Many Requests",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "too_many_requests" : {
                    "$ref" : "#/components/examples/too_many_requests"
                  }
                }
              }
            }
          }
        },
        "x-extole-bundle" : "integration-server-to-extole",
        "x-extole-visibility" : "visible"
      }
    },
    "/v4/tokens" : {
      "get" : {
        "tags" : [ "Authentication" ],
        "summary" : "Get current access token",
        "description" : "Returns the metadata for the access token used to authenticate the request (`type`, `client_id`, `identity_id`, `expires_in`, `scopes`). Equivalent to `GET /v4/tokens/{token}` but without having to repeat the token in the URL path.",
        "operationId" : "getCurrentClientAccessToken",
        "responses" : {
          "200" : {
            "description" : "Successful response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AccessTokenResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "binding_error" : {
                    "$ref" : "#/components/examples/binding_error"
                  },
                  "invalid_json" : {
                    "$ref" : "#/components/examples/invalid_json"
                  },
                  "invalid_parameter" : {
                    "$ref" : "#/components/examples/invalid_parameter"
                  },
                  "missing_request_body" : {
                    "$ref" : "#/components/examples/missing_request_body"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "method_unauthorized" : {
                    "$ref" : "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "402" : {
            "description" : "Payment Required",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "payment_required" : {
                    "$ref" : "#/components/examples/payment_required"
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "access_denied" : {
                    "$ref" : "#/components/examples/access_denied"
                  },
                  "method_unauthorized" : {
                    "$ref" : "#/components/examples/method_unauthorized"
                  },
                  "missing_access_token" : {
                    "$ref" : "#/components/examples/missing_access_token"
                  }
                }
              }
            }
          },
          "415" : {
            "description" : "Unsupported Media Type",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "unsupported_media_type" : {
                    "$ref" : "#/components/examples/unsupported_media_type"
                  }
                }
              }
            }
          },
          "429" : {
            "description" : "Too Many Requests",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "too_many_requests" : {
                    "$ref" : "#/components/examples/too_many_requests"
                  }
                }
              }
            }
          }
        },
        "x-extole-bundle" : "integration-server-to-extole",
        "x-extole-visibility" : "visible"
      },
      "post" : {
        "tags" : [ "Authentication" ],
        "summary" : "Create access token",
        "description" : "Mints a bearer token for server-to-Extole calls by a client. The body is optional: when omitted, the new token mirrors the calling identity's scopes; when supplied, the body can narrow the scope set (subset of the caller's scopes), bind the token to a specific `client_id`, supply email/password credentials in lieu of a calling token, or override the default lifetime via `duration_seconds`. Returns the new token, its `expires_in` (seconds), the resolved `client_id`, the `identity_id` of the user the token represents, and the granted `scopes`.",
        "operationId" : "createClientAccessToken",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AccessTokenCreationRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Access token created.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AccessTokenResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request. The named examples below cover this operation's input-validation errors. Other 400 causes include malformed JSON and missing required fields - inspect the response `code` field for the specific error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "invalid_client_id" : {
                    "$ref" : "#/components/examples/invalid_client_id"
                  },
                  "invalid_duration" : {
                    "$ref" : "#/components/examples/invalid_duration"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "method_unauthorized" : {
                    "$ref" : "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "402" : {
            "description" : "Payment Required",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "payment_required" : {
                    "$ref" : "#/components/examples/payment_required"
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "Authentication failed. The named examples below cover the most common credential rejections; other 403 causes (account locked, account disabled, requested scopes that exceed the calling identity's privileges) are auto-derived - inspect the response `code` field for the specific error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "invalid_credentials" : {
                    "$ref" : "#/components/examples/invalid_credentials"
                  },
                  "missing_credentials" : {
                    "$ref" : "#/components/examples/missing_credentials"
                  },
                  "scopes_denied" : {
                    "$ref" : "#/components/examples/scopes_denied"
                  }
                }
              }
            }
          },
          "415" : {
            "description" : "Unsupported Media Type",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "unsupported_media_type" : {
                    "$ref" : "#/components/examples/unsupported_media_type"
                  }
                }
              }
            }
          },
          "429" : {
            "description" : "Too Many Requests",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "too_many_requests" : {
                    "$ref" : "#/components/examples/too_many_requests"
                  }
                }
              }
            }
          }
        },
        "x-extole-bundle" : "integration-server-to-extole",
        "x-extole-visibility" : "visible"
      }
    },
    "/v4/tokens/{token}" : {
      "get" : {
        "tags" : [ "Authentication" ],
        "summary" : "Get access token by value",
        "description" : "Returns the metadata for the supplied token value (`type`, `client_id`, `identity_id`, `expires_in`, `scopes`). Use this when the caller has the token string and needs to introspect it; for the calling identity's own active token use `GET /v4/tokens` instead.",
        "operationId" : "getClientAccessTokenByValue",
        "parameters" : [ {
          "name" : "token",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : ""
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AccessTokenResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "binding_error" : {
                    "$ref" : "#/components/examples/binding_error"
                  },
                  "invalid_json" : {
                    "$ref" : "#/components/examples/invalid_json"
                  },
                  "invalid_parameter" : {
                    "$ref" : "#/components/examples/invalid_parameter"
                  },
                  "missing_request_body" : {
                    "$ref" : "#/components/examples/missing_request_body"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "method_unauthorized" : {
                    "$ref" : "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "402" : {
            "description" : "Payment Required",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "payment_required" : {
                    "$ref" : "#/components/examples/payment_required"
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "access_denied" : {
                    "$ref" : "#/components/examples/access_denied"
                  },
                  "method_unauthorized" : {
                    "$ref" : "#/components/examples/method_unauthorized"
                  },
                  "missing_access_token" : {
                    "$ref" : "#/components/examples/missing_access_token"
                  }
                }
              }
            }
          },
          "415" : {
            "description" : "Unsupported Media Type",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "unsupported_media_type" : {
                    "$ref" : "#/components/examples/unsupported_media_type"
                  }
                }
              }
            }
          },
          "429" : {
            "description" : "Too Many Requests",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "too_many_requests" : {
                    "$ref" : "#/components/examples/too_many_requests"
                  }
                }
              }
            }
          }
        },
        "x-extole-bundle" : "integration-server-to-extole",
        "x-extole-visibility" : "visible"
      },
      "delete" : {
        "tags" : [ "Authentication" ],
        "summary" : "Invalidate access token",
        "description" : "Invalidates the supplied access token immediately. Subsequent requests using the same token return `401 invalid_access_token`. Returns `200` with an empty body on success.",
        "operationId" : "deleteClientAccessToken",
        "parameters" : [ {
          "name" : "token",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : ""
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Token invalidated."
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "binding_error" : {
                    "$ref" : "#/components/examples/binding_error"
                  },
                  "invalid_json" : {
                    "$ref" : "#/components/examples/invalid_json"
                  },
                  "invalid_parameter" : {
                    "$ref" : "#/components/examples/invalid_parameter"
                  },
                  "missing_request_body" : {
                    "$ref" : "#/components/examples/missing_request_body"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "method_unauthorized" : {
                    "$ref" : "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "402" : {
            "description" : "Payment Required",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "payment_required" : {
                    "$ref" : "#/components/examples/payment_required"
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "access_denied" : {
                    "$ref" : "#/components/examples/access_denied"
                  },
                  "method_unauthorized" : {
                    "$ref" : "#/components/examples/method_unauthorized"
                  },
                  "missing_access_token" : {
                    "$ref" : "#/components/examples/missing_access_token"
                  }
                }
              }
            }
          },
          "415" : {
            "description" : "Unsupported Media Type",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "unsupported_media_type" : {
                    "$ref" : "#/components/examples/unsupported_media_type"
                  }
                }
              }
            }
          },
          "429" : {
            "description" : "Too Many Requests",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "too_many_requests" : {
                    "$ref" : "#/components/examples/too_many_requests"
                  }
                }
              }
            }
          }
        },
        "x-extole-bundle" : "integration-server-to-extole",
        "x-extole-visibility" : "visible"
      }
    },
    "/v5/persons" : {
      "get" : {
        "tags" : [ "Persons" ],
        "summary" : "Search for persons",
        "description" : "Searches for persons by identity key value or client-defined person keys (supply in `name:value` format, e.g. `partner_conversion_id:abc123`). Returns an array because the same key may resolve to multiple Extole profiles. Supply at least one search criterion via query parameters.",
        "operationId" : "searchPersons",
        "parameters" : [ {
          "name" : "identity_key_value",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "example" : ""
          }
        }, {
          "name" : "person_keys",
          "in" : "query",
          "schema" : {
            "type" : "array",
            "example" : [ "" ],
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : 0
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : 0
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/PersonResponse"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "binding_error" : {
                    "$ref" : "#/components/examples/binding_error"
                  },
                  "invalid_json" : {
                    "$ref" : "#/components/examples/invalid_json"
                  },
                  "invalid_parameter" : {
                    "$ref" : "#/components/examples/invalid_parameter"
                  },
                  "missing_request_body" : {
                    "$ref" : "#/components/examples/missing_request_body"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "method_unauthorized" : {
                    "$ref" : "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "402" : {
            "description" : "Payment Required",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "payment_required" : {
                    "$ref" : "#/components/examples/payment_required"
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "access_denied" : {
                    "$ref" : "#/components/examples/access_denied"
                  },
                  "method_unauthorized" : {
                    "$ref" : "#/components/examples/method_unauthorized"
                  },
                  "missing_access_token" : {
                    "$ref" : "#/components/examples/missing_access_token"
                  }
                }
              }
            }
          },
          "415" : {
            "description" : "Unsupported Media Type",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "unsupported_media_type" : {
                    "$ref" : "#/components/examples/unsupported_media_type"
                  }
                }
              }
            }
          },
          "429" : {
            "description" : "Too Many Requests",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "too_many_requests" : {
                    "$ref" : "#/components/examples/too_many_requests"
                  }
                }
              }
            }
          }
        },
        "x-extole-bundle" : "integration-server-to-extole",
        "x-extole-visibility" : "visible"
      },
      "post" : {
        "tags" : [ "Persons" ],
        "summary" : "Create a person",
        "description" : "Creates a new person profile in the Extole platform and returns the persisted record with its server-assigned id. Use this to provision person profiles outside of the normal event-tracking flow (e.g. bulk imports).",
        "operationId" : "createPerson_2",
        "requestBody" : {
          "description" : "PersonRequest object",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PersonRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successful response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PersonResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "binding_error" : {
                    "$ref" : "#/components/examples/binding_error"
                  },
                  "forward_to_profile_is_device" : {
                    "$ref" : "#/components/examples/forward_to_profile_is_device"
                  },
                  "forwarding_profile_is_device" : {
                    "$ref" : "#/components/examples/forwarding_profile_is_device"
                  },
                  "identity_key_value_already_taken" : {
                    "$ref" : "#/components/examples/identity_key_value_already_taken"
                  },
                  "invalid_block_reason" : {
                    "$ref" : "#/components/examples/invalid_block_reason"
                  },
                  "invalid_json" : {
                    "$ref" : "#/components/examples/invalid_json"
                  },
                  "invalid_key_value" : {
                    "$ref" : "#/components/examples/invalid_key_value"
                  },
                  "invalid_parameter" : {
                    "$ref" : "#/components/examples/invalid_parameter"
                  },
                  "missing_request_body" : {
                    "$ref" : "#/components/examples/missing_request_body"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                },
                "examples" : {
                  "method_unauthorized" : {
[...]
